services:
  - docker

before_script:
  - docker-compose -f local.yml up -d --build

script:
  - docker-compose -f local.yml run django coverage run -m pytest

after_success:
  - docker-compose -f local.yml run -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" -e COVERALLS_REPO_TOKEN="$COVERALLS_REPO_TOKEN" django coveralls
